<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{AdminPage :: head}">
	
</head>

<body>

	<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="background-color: #f1f1f2;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img class="header-logo" src="/images/Logo.png" alt="" />
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active text-dark" aria-current="page" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" th:href="@{/product}">Product</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="#">ContactUs</a>
					</li>
					<li class="nav-item" sec:authorize="!isAuthenticated()">
						<a class="nav-link text-dark" th:href="@{/login}">Login</a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link text-dark" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
  
	 
	<div class="limiter">
		<div class="container-login100 container">
			<div class="alert alert-danger alert-dismissible fade show login-error" role="alert" th:if="${param.error}">
				<strong>Oops! </strong> Please Entered Valid Username and Password.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="images/login-img.jpg" alt="IMG">
				</div>

				<form class="login100-form validate-form" th:action="@{/login}" method="post">
					<span class="login100-form-title">
						Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="username" placeholder="username" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" name="submit">
							Login
						</button>

						<div class="other">
							<ul>
								<li><a th:href="@{/register}">New Registration</a></li>
								<li><a th:href="@{/forgot}">Forgot Password</a></li>
							</ul>
						</div>
						<div class="google-btn mt-2">
							<button class="btn btn-primary" style="font-weight: bold;"><a class="text-white" th:href="@{/oauth2/authorization/google}">Sign in with Google</a></button>
						</div>						
					</div>
				</form>
			</div>
		</div>
	</div>
		
	<script th:replace="~{AdminPage :: scripting}"></script>

</body>

</html>